body {
    background-color: cadetblue;
    margin: 10px;
}

.calculatorClass {
    width: 250px;
    background-color: yellow;
    background-image: url("../media/stainless_background.jpg");
    border: 2px solid black;
    border-radius: 4px;
    padding: 30px
}

.calculatorClass .buttonAreaClass {
    margin: 0 auto;
}

.inputAreaClass {
    padding-left: 20PX;
    margin: 0 auto;
    margin-bottom: 10px;
    text-emphasis: bold;
    font-size: large;
}

.inputAreaClass input {
    text-emphasis: bold;
    font-size: large;
}

.inputAreaClass button {
    border: 1px solid black;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#tableHeadderId {
    width: 100%
}

#calcButtonsId {
    margin: 0 auto;
    background-color: teal;
    border: 2px solid rgb(1, 73, 73);
    border-radius: 3px;
}

#calcButtonsId td {
    padding: 5px;
}

#calcButtonsId input {
    background-color: wheat;
    width: 40px;
    padding: 5px;
    text-emphasis: bold;
    font-size: large;
    border: black 1px solid;
    border-radius: 3px;
}


.answerAreaClass {
    margin: 10px;
    padding: 0px
}

.tapeAreaClass button {
    border:1px solid black;
    border-radius: 2px;
}

.tapeOrderedListClass {
    margin: 20px;
    margin-top: 5px;
    width: 200px;
    background-color: cornsilk;
    border: 2px solid black;
    border-radius: 3px;
}

.tapeOrderedListClass li {
    background: rgb(252, 239, 187);
    padding: 2px;
}

/* JQuery Calls */
.highlight {
    animation: blinker 2s linear 2000;
  }

@keyframes blinker {  
    50% { opacity: 0; }
}