body {
    background-color: cadetblue;
    margin: 10px;
}

.calculatorClass {
    width: 250px;
    background-color: yellow;
    background-image: url("../media/stainless_background.jpg");
    border: 2px solid black;
    border-radius: 4px;
    padding: 30px
}

.calculatorClass .buttonAreaClass {
    margin: 0 auto;

}

.inputAreaClass {
    padding-left: 20PX;
    margin: 0 auto;
    margin-bottom: 5px;
    text-emphasis: bold;
    font-size: large;

}

.inputAreaClass input {
    text-emphasis: bold;
    font-size: large;

}

#tableHeadderId {
    width: 100%
}

#calcButtonsId {
    margin: 0 auto;
    background-color: teal;
    border: 2px solid rgb(1, 73, 73);
}

#calcButtonsId td {
    padding: 5px;
}

#calcButtonsId input {
    background-color: wheat;
    width: 40px;
    padding: 5px;
    text-emphasis: bold;
    font-size: large;
}



.answerAreaClass {
    margin: 10px;
    padding: 0px
}

.answerAreaClass input {
    margin: 10px;
    margin-bottom: 0px;
    padding: 3px;
}

.answerAreaClass p {
    margin: 3px;
    margin-bottom: 0px;
    padding-top: 5px;
} 